body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.chat-container {
    width: 400px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #ffe812;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header h1 {
    margin: 0;
    font-size: 18px;
}

.back-btn {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

.back-btn:hover {
    background-color: #f0f0f0;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    display: flex;
    margin-bottom: 10px;
}

.message.left {
    justify-content: flex-start;
}

.message.right {
    justify-content: flex-end;
}

.message.center {
    justify-content: center;
}

.message-content {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    position: relative;
    text-align: center;
}

.message.left .message-content {
    background-color: #e6e6e6;
}

.message.right .message-content {
    background-color: #dcf8c6;
}

.message.center .message-content {
    background-color: #f0f0f0;
    color: #999;
    font-style: italic;
}

.message-time {
    display: block;
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chat-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 12px;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #ffe812;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #e6d90f;
}

#nameInput {
    flex: 0.3;
    margin-right: 5px;
}

.join-divider {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
